* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,#320000,rgb(82, 82, 82));
    flex-wrap: wrap;
    gap: 100px;
    
}
    
.box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-image: linear-gradient(to top right, #f0f0f0, #171717);
    line-height: 150px;
}